<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m1013" >

   <xacro:arg name="color"   default="white"/>
   <xacro:arg name="gripper" default="none"/>
   <xacro:arg name="namespace" default=""/>

   <xacro:property name="cr" value="$(arg color)"/>
   <xacro:property name="gr" value="$(arg gripper)"/>
  
   <xacro:if value="${cr == 'white'}">
     <xacro:include filename="$(find my_doosan_pkg)/description/xacro/macro.m1013.white.xacro" />
   </xacro:if>

   <xacro:if value="${cr == 'blue'}">
     <xacro:include filename="$(find my_doosan_pkg)/description/xacro/macro.m1013.blue.xacro" />
   </xacro:if>
  
   <xacro:if value="${gr == 'robotiq_2f'}">
      <xacro:include filename="$(find my_doosan_pkg)/description/xacro/robotiq_2f.urdf.xacro" />
   </xacro:if>

   <xacro:m1013 namespace="$(arg namespace)"/>
   

   <!-- World fixed joint-->
   <link name="world" />
   <joint name="world_fixed" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="base_0"/>
   </joint>

</robot>

